<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/layout.html}">

<head>
<title>Thanh toán</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="page-header text-center"
			style="background-image: url('../shop/assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">
					Thanh toán<span>Cửa hàng</span>
				</h1>
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/molla/home}">Trang
							chủ</a></li>
					<li class="breadcrumb-item"><a th:href="@{/molla/view-cart}">Giỏ
							hàng</a></li>
					<li class="breadcrumb-item active" aria-current="page">Thanh
						toán</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="checkout">
				<div class="container">
					<form th:action="@{/molla/check-out/submit}" method="POST" th:object="${orderAddressDto}">
						<div class="row">
							<div class="col-lg-9">
								<h2 class="checkout-title">Chi tiết thanh toán</h2>
								<!-- End .checkout-title -->
								<input type="hidden" th:field="*{id}">
								<div class="row">
									<div class="col-sm-6">
										<label>Họ *</label> <input type="text" class="form-control"
											required th:field="*{firstName}">
									</div>
									<!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>Tên *</label> <input type="text" class="form-control"
											required th:field="*{lastName}">
									</div>
									<!-- End .col-sm-6 -->
								</div>
								<!-- End .row -->

								<label>Địa chỉ *</label> <input type="text" class="form-control"
									required th:field="*{address}"> <label>Số điện
									thoại *</label> <input type="text" class="form-control" required
									th:field="*{phone}"> <label>Email *</label> <input
									type="email" class="form-control" required th:field="*{email}">
								<label>Ghi chú</label>
								<textarea class="form-control" cols="30" rows="4" name="note" id="note"
									placeholder="Ghi chú của bạn về đơn hàng."></textarea>
							</div>
							<!-- End .col-lg-9 -->
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">Đơn hàng của bạn</h3>
									<!-- End .summary-title -->

									<table class="table table-summary">
										<thead>
											<tr>
												<th>Sản phẩm</th>
												<th>Tổng</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="item, i : ${carts}"
												th:with="totalPrice = ${item.discount > 0 ? (item.price - (item.price * item.discount * 0.01)) * item.quantity : item.price * item.quantity}">
												<td><a
													th:href="@{/molla/product-detail(id=${item.id})}"
													th:text="${item.name}"></a></td>
												<td
													th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">$84.00</td>
											</tr>

											<tr class="summary-subtotal">
												<td>Tổng tiền:</td>
												<td
													th:text="${#numbers.formatDecimal(totalCart, 0, 'COMMA', 0, 'POINT')} + ' VND'">$160.00</td>
											</tr>
											<!-- End .summary-subtotal -->
											<tr th:if="${shipping == '0'}">
												<td>Giao hàng:</td>
												<td>Miễn phí 0 VND</td>
											</tr>
											<tr th:if="${shipping == '1'}">
												<td>Giao hàng:</td>
												<td>Tiêu chuẩn 10.000 VND</td>
											</tr>
											<tr th:if="${shipping == '2'}">
												<td>Giao hàng:</td>
												<td>Chính xác 20.000 VND</td>
											</tr>
											<tr class="summary-total">
												<td>Tổng hoá đơn:</td>
												<td
													th:text="${#numbers.formatDecimal(totalCart, 0, 'COMMA', 0, 'POINT')} + ' VND'">$160.00</td>
											</tr>
											<!-- End .summary-total -->
										</tbody>
									</table>
									<!-- End .table table-summary -->

									<div class="accordion-summary" id="accordion-payment">
										<div class="card">
											<div class="card-header" id="heading-1">
												<h2 class="card-title">
													<a role="button" data-toggle="collapse" href="#collapse-1"
														aria-expanded="true" aria-controls="collapse-1" name="pay" value="1">
														Chuyển khoản trực tiếp </a>
												</h2>
											</div>
											<!-- End .card-header -->
											<div id="collapse-1" class="collapse show"
												aria-labelledby="heading-1" data-parent="#accordion-payment">
												<div class="card-body">Thực hiện thanh toán của bạn
													trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng
													sử dụng ID đơn đặt hàng của bạn làm tài liệu tham khảo
													thanh toán. đơn đặt hàng của bạn sẽ không được vận chuyển
													cho đến khi tiền đã xóa trong tài khoản của chúng tôi.</div>
												<!-- End .card-body -->
											</div>
											<!-- End .collapse -->
										</div>
										<!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-2">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-2" aria-expanded="false"
														aria-controls="collapse-2" name="pay" value="2"> Kiểm tra thanh toán </a>
												</h2>
											</div>
											<!-- End .card-header -->
											<div id="collapse-2" class="collapse"
												aria-labelledby="heading-2" data-parent="#accordion-payment">
												<div class="card-body">Thực hiện thanh toán khi bạn
													đơn hàng vào trạng thái đã vẫn chuyển.</div>
												<!-- End .card-body -->
											</div>
											<!-- End .collapse -->
										</div>
										<!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-3">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-3" aria-expanded="false"
														aria-controls="collapse-3" name="pay" value="3"> Thanh toán khi giao hàng </a>
												</h2>
											</div>
											<!-- End .card-header -->
											<div id="collapse-3" class="collapse"
												aria-labelledby="heading-3" data-parent="#accordion-payment">
												<div class="card-body">Thực hiện thanh toán khi khách
													hàng đã nhận và kiểm tra hàng, số tiền thanh toán giao cho
													người vận chuyển.</div>
												<!-- End .card-body -->
											</div>
											<!-- End .collapse -->
										</div>
										<!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-4" aria-expanded="false"
														aria-controls="collapse-4"  name="pay" value="4"> PayPal <small
														class="float-right paypal-link">Tài khoản PayPal
															là gì?</small>
													</a>
												</h2>
											</div>
											<!-- End .card-header -->
											<div id="collapse-4" class="collapse"
												aria-labelledby="heading-4" data-parent="#accordion-payment">
												<div class="card-body">PayPal là dịch vụ thanh toán
													trực tuyến cho phép cá nhân và doanh nghiệp chuyển tiền
													theo phương thức điện tử. Bạn có thể gửi, nhận và giữ tiền
													bằng nhiều loại tiền tệ trên thế giới.</div>
												<!-- End .card-body -->
											</div>
											<!-- End .collapse -->
										</div>
										<!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-5">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-5" aria-expanded="false"
														aria-controls="collapse-5"> Thẻ tín dụng <img
														th:src="@{/shop/assets/images/payments-summary.png}"
														alt="payments cards">
													</a>
												</h2>
											</div>
											<!-- End .card-header -->
											<div id="collapse-5" class="collapse"
												aria-labelledby="heading-5" data-parent="#accordion-payment">
												<div class="card-body">Thẻ tín dụng (credit card) là
													thẻ cho phép chủ thẻ thực hiện giao dịch thẻ trong phạm vi
													hạn mức tín dụng đã được cấp theo thỏa thuận với tổ chức
													phát hành thẻ. Nói một cách đơn giản, thẻ tín dụng là loại
													thẻ giúp bạn mua hàng trước và thanh toán lại cho ngân hàng
													sau.</div>
												<!-- End .card-body -->
											</div>
											<!-- End .collapse -->
										</div>
										<!-- End .card -->
									</div>
									<!-- End .accordion -->

									<button type="submit" th:if="${not #lists.isEmpty(carts)}"
										class="btn btn-outline-primary-2 btn-order btn-block">
										<span class="btn-text">Đặt hàng</span> <span
											class="btn-hover-text">Tiến hành kiểm tra</span>
									</button>
								</div>
								<!-- End .summary -->
							</aside>
							<!-- End .col-lg-3 -->
						</div>
						<!-- End .row -->
					</form>
				</div>
				<!-- End .container -->
			</div>
			<!-- End .checkout -->
		</div>
		<!-- End .page-content -->
	</div>
</body>

</html>