<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/layout.html}">

<head>
<title>Liên hệ</title>
</head>

<body>
	<div layout:fragment="content">

		<div class="mb-lg-2"></div>

		<!-- End .breadcrumb-nav -->
		<div class="container">
			<div class="page-header page-header-big text-center"
				style="background-image: url('/shop/assets/images/contact-header-bg.jpg')">
				<h1 class="page-title text-white">
					Liên hệ<span class="text-white">Liên hệ với chúng tôi</span>
				</h1>
			</div>
			<!-- End .page-header -->
		</div>
		<!-- End .container -->

		<div class="page-content pb-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mb-2 mb-lg-0">
						<h2 class="title mb-1">Thông tin</h2>
						<!-- End .title mb-2 -->
						<p class="mb-3">Thông tin liên hệ của cửa hàng, bạn có thể
							nhập vào form và gửi thông tin đến email cửa hàng.</p>
						<div class="row">
							<div class="col-sm-7">
								<div class="contact-info">
									<h3>Văn phòng</h3>

									<ul class="contact-list">
										<li><i class="icon-map-marker"></i>Số 137 Nguyễn Thị
											Thập, Phường Hòa Minh, Quận Liên Chiểu, TP. Đà Nẵng</li>
										<li><i class="icon-phone"></i> <a href="tel:#">(0236)
												3710 999</a></li>
										<li><i class="icon-envelope"></i> <a href="mailto:#">caodang@fpt.edu.vn</a>
										</li>
									</ul>
									<!-- End .contact-list -->
								</div>
								<!-- End .contact-info -->
							</div>
							<!-- End .col-sm-7 -->

							<div class="col-sm-5">
								<div class="contact-info">
									<h3>Mở cửa</h3>

									<ul class="contact-list">
										<li><i class="icon-clock-o"></i> <span class="text-dark">Thứ
												2 - Thứ 7</span> <br>5am-17pm</li>
									</ul>
									<!-- End .contact-list -->
								</div>
								<!-- End .contact-info -->
							</div>
							<!-- End .col-sm-5 -->
						</div>
						<!-- End .row -->
					</div>
					<!-- End .col-lg-6 -->
					<div class="col-lg-6">
						<h2 class="title mb-1">Bất kỳ câu hỏi?</h2>
						<!-- End .title mb-2 -->
						<p class="mb-2">Sử dụng mẫu dưới đây để liên lạc với đội ngũ
							bán hàng</p>

						<form action="#" class="contact-form mb-3">
							<div class="row">
								<div class="col-sm-6">
									<label for="cname" class="sr-only">Họ và tên</label> <input
										type="text" class="form-control" id="cname"
										placeholder="Name *" required>
								</div>
								<!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label for="cemail" class="sr-only">Email</label> <input
										type="email" class="form-control" id="cemail"
										placeholder="Email *" required>
								</div>
								<!-- End .col-sm-6 -->
							</div>
							<!-- End .row -->

							<div class="row">
								<div class="col-sm-6">
									<label for="cphone" class="sr-only">Số điện thoại</label> <input
										type="tel" class="form-control" id="cphone"
										placeholder="Phone">
								</div>
								<!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label for="csubject" class="sr-only">Tiêu đề</label> <input
										type="text" class="form-control" id="csubject"
										placeholder="Subject">
								</div>
								<!-- End .col-sm-6 -->
							</div>
							<!-- End .row -->

							<label for="cmessage" class="sr-only">Nội dung</label>
							<textarea class="form-control" cols="30" rows="4" id="cmessage"
								required placeholder="Message *"></textarea>

							<button type="submit"
								class="btn btn-outline-primary-2 btn-minwidth-sm">
								<span>XÁC NHẬN</span> <i class="icon-long-arrow-right"></i>
							</button>
						</form>
						<!-- End .contact-form -->
					</div>
					<!-- End .col-lg-6 -->
				</div>
				<!-- End .row -->
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-content -->
	</div>
</body>

</html>