<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="footer">
		<footer class="footer">
			<div class="cta cta-horizontal cta-horizontal-box bg-dark bg-image"
				style="background-image: url('../shop/assets/images/demos/demo-14/bg-1.jpg');">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-xl-8 offset-xl-2">
							<div class="row align-items-center">
								<div class="col-lg-5 cta-txt">
									<h3 class="cta-title text-primary">Tham gia bản tin của
										chúng tôi</h3>
									<!-- End .cta-title -->
									<p class="cta-desc text-light">Đăng ký để nhận thông tin về
										sản phẩm và phiếu giảm giá</p>
									<!-- End .cta-desc -->
								</div>
								<!-- End .col-lg-5 -->

								<div class="col-lg-7">
									<form action="#">
										<div class="input-group">
											<input type="email" class="form-control"
												placeholder="Nhập email của bạn" aria-label="Email" required>
											<div class="input-group-append">
												<button class="btn" type="submit">Đăng ký</button>
											</div>
											<!-- .End .input-group-append -->
										</div>
										<!-- .End .input-group -->
									</form>
								</div>
								<!-- End .col-lg-7 -->
							</div>
							<!-- End .row -->
						</div>
						<!-- End .col-xl-8 offset-2 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container-fluid -->
			</div>
			<!-- End .cta -->
			<div class="footer-middle border-0">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 col-lg-4">
							<div class="widget widget-about">
								<img
									th:src="@{/shop/assets/images/demos/demo-14/logo-footer.png}"
									class="footer-logo" alt="Footer Logo" width="105" height="25">
								<p>Không ngừng vươn xa, MollaShop sẽ mở rộng Hệ thống siêu
									thị điện máy - nội thất tới các Tỉnh thành trong cả nước với
									tiêu chí phát triển, hiệu quả, bền vững. Sự gia tăng mạnh mẽ cả
									về nguồn vốn, mô hình và mạng lưới hoạt động cũng như chất
									lượng nguồn nhân lực không chỉ thể hiện những khởi sắc mà còn
									là dấu ấn quan trọng trong hoạt động kinh doanh của MollaShop.</p>

								<div class="widget-about-info">
									<div class="row">
										<div class="col-sm-6 col-md-4">
											<span class="widget-about-title">Hỗ trợ 24/7</span> <a
												href="#">+0123 456 789</a>
										</div>
										<!-- End .col-sm-6 -->
										<div class="col-sm-6 col-md-8">
											<span class="widget-about-title">Phương thức thanh
												toán</span>
											<figure class="footer-payments">
												<img th:src="@{/shop/assets/images/payments.png}"
													alt="Payment methods" width="272" height="20">
											</figure>
											<!-- End .footer-payments -->
										</div>
										<!-- End .col-sm-6 -->
									</div>
									<!-- End .row -->
								</div>
								<!-- End .widget-about-info -->
							</div>
							<!-- End .widget about-widget -->
						</div>
						<!-- End .col-sm-12 col-lg-4 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Liên kết hữu ích</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a th:href="@{/molla/about}">Thông tin MollaShop</a></li>
									<li><a href="#">Cách mua sắm trên MollaShop</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Liên hệ</a></li>
									<li sec:authorize="!isAuthenticated()"><a
										href="#signin-modal" data-toggle="modal">Đăng nhập</a></li>
									<li sec:authorize="isAuthenticated()"><a
										style="cursor: pointer;" th:onclick="logout()">Đăng xuất</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Dịch vụ khách hàng</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="#">Phương thức thanh toán</a></li>
									<li><a href="#">Chính sách hoàn trả</a></li>
									<li><a href="#">Vận chyển</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nhà phát triển</a></li>
									<li><a href="#">Bảo mật khách hàng</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget" sec:authorize="isAuthenticated()">
								<h4 class="widget-title">Tải khoản</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a th:href="@{/molla/account/info-account}">Thông tin tài khoản</a></li>
									<li><a th:href="@{/molla/cart}">Giỏ hàng</a></li>
									<li><a href="#">Danh sách yêu thích</a></li>
									<li><a href="#">Danh sách đặt hàng</a></li>
									<li><a href="#">Hỗ trợ</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget widget-newsletter">
								<h4 class="widget-title">Đăng ký nhận bản tin</h4>
								<!-- End .widget-title -->

								<form action="#">
									<div class="input-group">
										<input type="email" class="form-control"
											placeholder="Nhập email của bạn" aria-label="Email Adress"
											required>
										<div class="input-group-append">
											<button class="btn btn-dark" type="submit">
												<i class="icon-long-arrow-right"></i>
											</button>
										</div>
										<!-- .End .input-group-append -->
									</div>
									<!-- .End .input-group -->
								</form>
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container-fluid -->
			</div>
			<!-- End .footer-middle -->

			<div class="footer-bottom">
				<div class="container-fluid">
					<p class="footer-copyright">Copyright © 2019 MollaShop. All
						Rights Reserved.</p>
					<!-- End .footer-copyright -->
					<div class="social-icons social-icons-color">
						<span class="social-label">Theo dõi tôi</span> <a href="#"
							class="social-icon social-facebook" title="Facebook"
							target="_blank"><i class="icon-facebook-f"></i></a> <a href="#"
							class="social-icon social-twitter" title="Twitter"
							target="_blank"><i class="icon-twitter"></i></a> <a href="#"
							class="social-icon social-instagram" title="Instagram"
							target="_blank"><i class="icon-instagram"></i></a> <a href="#"
							class="social-icon social-youtube" title="Youtube"
							target="_blank"><i class="icon-youtube"></i></a> <a href="#"
							class="social-icon social-pinterest" title="Pinterest"
							target="_blank"><i class="icon-pinterest"></i></a>
					</div>
					<!-- End .soial-icons -->
				</div>
				<!-- End .container-fluid -->
			</div>
			<!-- End .footer-bottom -->
		</footer>
		<!-- End .footer -->
	</div>
</body>

</html>